

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #FFCE00;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    
}

.app{
    display:flex;
    width:100vw;
    height: 100vh;
    flex-flow: column;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}


.lists{
    display:flex;
    flex:1;
    width: 100%;
    overflow-x:scroll;
}

.lists .list{
    display:flex;
    flex-flow: column;
    flex:1;

    width: 100%;
    min-width: 200px;
    max-width: 300px;
    height: 80%;
    min-height: 100px;
    
    background-color:rgba(0,0,0,.1);
    margin:0 15px;
    padding:8px;
    transition:all .2s linear;
}


.lists .list .list-item{
    background-color: #F3F3F3;
    border-radius: 8px;
    padding:15px 20px;
    text-align:center;
    margin:4px 0;
}


.lists .list .list-item:hover{
    cursor: pointer;
}

@media only screen and (max-width: 910px) {
    body {
      background-color: rgb(72, 130, 150);
    }

    h1{
        color:white;
    }


    .lists .list .list-item{
        background-color: #f05800;
        border-radius: 3px;
        padding:10px 5px;
        text-align:center;
        margin:4px 0;
        color:yellow;
        display:flex;
        flex-wrap: wrap;
        min-width: 20px;
    }

    .lists .list{
        display:flex;
        flex-flow: column;
        flex-wrap: wrap;
    
        width: 100%;
        min-width: 50px;
        max-width: 210px;
        height: 50%;
        min-height: 60px;
        
        background-color:rgba(0,0,0,.1);
        margin:0 5px;
        padding:5px;
    }
  }