

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


 *{
     margin:0;
     padding:0;
     box-sizing: border-box;
 }



 body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(199, 186, 186);
    color:#111;
 }


 .draggable-elements{
     display: flex;
     justify-content: center;
     margin:2rem;
 }


 .draggable{
     height:5rem;
     width: 5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 5rem;
     margin:0 .5rem;
     cursor:move;
     transition: opacity .2s;
 }


 .draggable:hover{
     opacity: .5s;
 }


 .droppable{
     height: 5rem;
     width: 7rem;
     margin:1rem auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
     font-size:4rem;
     border:3px dashed rgb(173, 2, 179);
     text-align: center;
     background-color:#fff;
     transition: border-width .2s, transform .2s, background-color .4s;

 }

 .droppable span{
     font-size:1.25rem;
     pointer-events: none;

 }

 .droppable.droppable-hover{
     border-width: 5px;
     transform:scale(1.1);
     border-color: rgb(247, 247, 6);
 }

 .droppable.dropped{
     border-style: solid;
     color:#fff;
 }


 .droppable.dropped span{
    font-size:1rem;
    margin-bottom:.2rem;
    font-weight: bold;
}


.droppable.dropped i{
    pointer-events: none;
}


.draggable.dragged{
    user-select:none;
    opacity: .3;
    cursor: default;
}

.draggable.dragged:hover{
    opacity: .1;
}

@media (max-width:600px){
    html{
        font-size:14px
    }

    .draggable-elements{margin:1.5rem}
}